# ===== Django(backend) =====
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
# Django static/media
backend/static/
backend/media/
# Django 환경 파일
backend/.env

# ===== 공통(루트, 에디터 등) =====
.DS_Store
Thumbs.db
ehthumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# ===== 기타 =====
/*.sqlite3
*.log
